<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="QualityCarConnectionString22" connectionString="Data Source=hyperdisc.unitec.ac.nz;Initial Catalog=bakhsb02sqlserver1;User ID=bakhsb02;Password=25041986"
   providerName="System.Data.SqlClient" />
  <add name="QualityCarConnectionString" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=&quot;C:\USERS\BAKHSHB\DOCUMENTS\VISUAL STUDIO 2010\WEBSITES\QUALITY CARS\APP_DATA\DB_QUALITYCARS.MDF&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="On" defaultRedirect="ErrorPage.aspx?ErrorMessage=Other Errors">
		  <error statusCode="500" redirect="ErrorPage.aspx?ErrorMessage=Internal Errors"/>
		  <error statusCode="404" redirect="ErrorPage.aspx?ErrorMessage=File is not found"/>
		  <error statusCode="403" redirect="ErrorPage.aspx?ErrorMessage=Authorization is failed"/>
		</customErrors>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <user name="Admin@gmail.com" password="Admin"/>
        </credentials>
      </forms>
    </authentication>
    <sessionState timeout="30" mode="InProc"
      cookieless="false"></sessionState>

  </system.web>  
</configuration>
